.career-body {
  background-color: #f1f5f9;
  padding-block: 4em;
}

.career-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
}

.experiences,
.education {
  position: relative;
}

.experiences::before,
.education::before {
  content: "";
  position: absolute;
  left: -2em;
  top: 1em;
  background-color: #03346e;
  height: 95.5%;
  width: 0.1em;
}

.title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
  color: #03346e;
}

@media (max-width: 600px) {
  .education::before,
  .education::after {
    display: none;
  }
}
