<div id="myCareer" class="career-body">
  <app-custom-title
    [title]="'career.sectionTitle' | translate"
    [subtitle]="'My professional journey'">
  </app-custom-title>
  <div class="career-content container">
    <div class="experiences">
      <h3 class="title">{{ 'career.education' | translate }}</h3>
      <app-career-card [data]="education" *ngFor="let education of educations"></app-career-card>
    </div>
    <div class="education">
      <h3 class="title">{{ 'career.experience' | translate }}</h3>
      <app-career-card *ngFor="let experience of experiences" [data]="experience"></app-career-card>
    </div>
  </div>
</div>
