<div id="myCareer" class="career-body">
  <app-custom-title title="MY CAREER"></app-custom-title>
  <div class="career-content container">
    <div class="experiences">
      <h3 class="title">EDUCATION</h3>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
    </div>
    <div class="education">
      <h3 class="title">EXPERIENCE</h3>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
      <app-career-card data-aos="fade-top"></app-career-card>
    </div>
  </div>
</div>
