<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo" data-aos="fade-right" data-aos-offset="0">
        <img alt="" src="../../../assets/images/LOGO_PORFOLIO.png" width="100" />
      </div>
      <div class="footer-links" data-aos="fade" data-aos-offset="0">
        <ul class="footer-menu">
          <li>
            <a href="#home">
              <i class="bi bi-house-fill"></i>
              <span> {{ 'nav.home' | translate }} </span>
            </a>
          </li>
          <li>
            <a href="#mySkills">
              <i class="bi bi-tools"></i>
              <span> {{ 'nav.mySkills' | translate }} </span>
            </a>
          </li>
          <li>
            <a href="#myExpertises">
              <i class="bi bi-person-fill fs-6"></i>
              <span> {{ 'nav.myExpertises' | translate }} </span>
            </a>
          </li>
          <li>
            <a href="#myProjects">
              <i class="bi bi-clipboard2-pulse-fill"></i>
              <span> {{ 'nav.myProjects' | translate }} </span>
            </a>
          </li>
          <li>
            <a href="#myCareer">
              <i class="bi bi-briefcase-fill"></i>
              <span> {{ 'nav.career' | translate }} </span>
            </a>
          </li>
          <li>
            <a href="#contactMe">
              <i class="bi bi-envelope-at-fill"></i>
              <span> {{ 'nav.contactMe' | translate }} </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-social" data-aos="fade-left" data-aos-offset="0">
        <app-icons-link></app-icons-link>
      </div>
    </div>
    <div class="footer-bottom">
      <p>{{ 'footer.message' | translate }}</p>
    </div>
  </div>
</footer>
