<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo" data-aos="fade-right">
        <img src="../../../assets/images/LOGO_PORFOLIO.png" width="100" />
      </div>
      <div class="footer-links" data-aos="fade">
        <ul class="footer-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">My skills</a></li>
          <li><a href="#">My projects</a></li>
          <li><a href="#">Contact me</a></li>
        </ul>
      </div>
      <div class="footer-social" data-aos="fade-left">
        <app-icons-link></app-icons-link>
      </div>
    </div>
    <div class="footer-bottom">
      <p>I'm working on something new — watch this space for my updated portfolio!</p>
    </div>
  </div>
</footer>
