<div class="expertises-body">
  <app-custom-title title="MY EXPERTISES"></app-custom-title>
  <div class="expertises-content">
    <div class="custom-container">
      <app-card-expertise  data-aos-duration="1000" data-aos="flip-left"></app-card-expertise>
      <app-card-expertise  data-aos-duration="1000" data-aos="flip-up"></app-card-expertise>
      <app-card-expertise  data-aos-duration="1000" data-aos="flip-down"></app-card-expertise>
      <app-card-expertise  data-aos-duration="1000" data-aos="flip-right"></app-card-expertise>
    </div>
  </div>
</div>
