<div id="myExpertises" class="expertises-body">
  <app-custom-title title="MY EXPERTISES"></app-custom-title>
  <div class="expertises-content">
    <div class="custom-container">
      <app-card-expertise
        *ngFor="let expertise of expertises; let i = index"
        [expertise]="expertise"
        data-aos-duration="1000"
        [attr.data-aos]="
          i == 0
            ? 'flip-left'
            : i === 1
            ? 'flip-up'
            : i === 2
            ? 'flip-down'
            : 'flip-right'
        "
      ></app-card-expertise>
    </div>
  </div>
</div>
