<nav>
  <ul>
    <li>Home</li>
    <li>My skills</li>
    <li>My projects</li>
    <li>Carrière</li>
    <li>Contact me</li>
  </ul>

  <i class="bi bi-list fs-1"></i>
  <img alt="logo" src="../../../assets/images/LOGO_PORFOLIO.png" />
  <!-- <ul>
      <li>
        <a>
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="bi bi-file-earmark-person-fill"></i>
        </a>
      </li>
      <li>
        <a>
          <i class="bi bi-envelope-fill"></i>
        </a>
      </li>
      <li>
        <a> <i class="bi bi-moon-fill"></i> </a>
      </li>
    </ul> -->
  <app-icons-link></app-icons-link>
</nav>
