nav {
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(241, 245, 249, 0.5);
  top: 0;
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* padding-inline: 5em; */
  /* position: fixed; */
  /* height: 6.3em; */
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #011d41;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2em;
  height: 2px;
  width: 1em;
  background-color: #011d41;
  transition: all 0.1s ease;
}

nav a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2em;
  height: 2px;
  width: 100%;
  background-color: #011d41;
}

img {
  width: 100px;
}

.bi {
  font-size: 1.2em;
  cursor: pointer;
}

.bi-list {
  display: none;
}

@media (max-width: 1500px) {
  nav {
    justify-content: space-between;
    padding-inline: 5em;
  }
}

@media (max-width: 1200px) {
  nav ul {
    display: none;
  }
  app-icons-link {
    display: none;
  }

  .bi-list {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding-inline: 3em;
  }

  img {
    width: 70px;
  }
}

@media (max-width: 500px) {
  nav {
    padding-inline: 2em;
  }
}

@media (max-width: 430px) {
  img {
    width: 50px;
  }
}

/* ------------------------------------------------- */
@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes slideOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

.menu {
  position: fixed;
  top: 4.4em;
  left: -100%;
  transition: left 0.5s ease; /* Transition pour le mouvement */
  z-index: 10;
  width: 100%;
}

.menu-active {
  animation: slideIn 0.5s forwards; /* Animation d'entrée */
}

.menu-hidden {
  animation: slideOut 0.5s forwards; /* Animation de sortie */
}

@media (max-width: 430px) {
  .menu {
    top: 50px;
  }
}
