nav {
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(241, 245, 249, 0.5);
  top: 0;
  position: fixed;
  width: 100vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* position: fixed; */
  /* height: 6.3em; */
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

.bi {
  font-size: 1.2em;
}
