<nav>
  <ul>
    <li>
      <a href="#home"><i class="bi bi-house-fill fs-6"></i> Home</a>
    </li>
    <li>
      <a href="#mySkills"><i class="bi bi-tools fs-6"></i> My skills</a>
    </li>
    <li>
      <a href="#myExpertises"
        ><i class="bi bi-person-fill fs-6"></i> My expertises</a
      >
    </li>
    <li>
      <a href="#myProjects"
        ><i class="bi bi-clipboard2-pulse-fill fs-6"></i> My projects</a
      >
    </li>
    <li>
      <a href="#myCareer"><i class="bi bi-briefcase-fill fs-6"></i> Career</a>
    </li>
    <li>
      <a href="#contactMe"
        ><i class="bi bi-envelope-at-fill fs-6"></i> Contact me</a
      >
    </li>
  </ul>

  <i
    #menuIcon
    *ngIf="!showMenuHeader"
    (click)="toogle()"
    class="bi bi-list fs-1"
  ></i>
  <i
    #menuIcon
    *ngIf="showMenuHeader"
    (click)="toogle()"
    class="bi bi-arrow-left fs-3"
  ></i>
  <img alt="logo" src="./assets/images/LOGO_PORFOLIO.png" />
  <app-icons-link></app-icons-link>
</nav>

<div #menuHeader>
  <app-menu-header
    appOutsideClick
    [ngClass]="{
      'menu-active': showMenuHeader,
      'menu-hidden': !showMenuHeader && start
    }"
    class="menu"
    (outsideClick)="closeMenuHeader()"
    (isClose)="closeMenuHeader()"
  ></app-menu-header>
</div>
