<div class="container">
  <div class="project">
    <div class="">
      <img
        alt=""
        src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg"
        width="500"
        height="300"
      />
    </div>
    <div class="desc-project">
      <h3 class="title">Title Of Project</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
        laudantium ullam, recusandae repudiandae aliquam porro veniam corporis,
        quis quos cupiditate quibusdam harum labore. Beatae harum laborum
        distinctio dolorum minus numquam.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias,
        laudantium ullam, recusandae repudiandae aliquam porro veniam corporis,
        quis quos cupiditate quibusdam harum labore. Beatae harum laborum
        distinctio dolorum minus numquam.
      </p>
      <div class="technologies">

        <span>angular</span>
        <span>html</span>
        <span>css</span>
        <span>javascript</span>
        <span>typescript</span>
        <span>mysql</span>
        <span>laravel</span>
        <span>php</span>
      </div>
    </div>
  </div>
</div>
