<div class="container mb-4">
  <div #project class="project">
    <div
      class="video-wrapper"
      [attr.data-aos]="reverse ? 'slide-right' : 'slide-left'"
      data-aos-duration="500"
      data-aos-easing="ease-out-cubic"
    >
      <video
        [src]="projectInfo.demoPath"
        autoplay
        loop
        muted
        playsinline
        class="video"
      ></video>
    </div>
    <div class="desc-project">
      <h3 class="title">{{ projectInfo.titleKey | translate }}</h3>
      <p>{{ projectInfo.descriptionKey | translate }}</p>
      <div class="technologies">
        <span *ngFor="let technologie of projectInfo.technologies">{{ technologie }}</span>
      </div>
      <div class="links">
        <a class="link-github" [href]="projectInfo.githubLink" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i> GitHub
        </a>
        <a class="link-demo" [href]="projectInfo.demoLink" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-box-arrow-up-right"></i> Demo
        </a>
      </div>
    </div>
  </div>
</div>
