<div class="container mb-4">
  <div #project class="project">
    <div class="">
      <!-- <img
          alt=""
          src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg"
          width="500"
          height="300"
        /> -->
      <video
        [src]="projectInfo.demoPath"
        width="500"
        height="500"
        autoplay
        loop
        [attr.data-aos]="reverse ? 'fade-left' : 'fade-right'"
      ></video>
    </div>
    <div [attr.data-aos]="!reverse ? 'fade-left' : 'fade-right'" class="desc-project">
      <h3 class="title">{{ projectInfo.title }}</h3>
      <p>
        {{ projectInfo.description }}
      </p>
      <div class="technologies">
        <span *ngFor="let technologie of projectInfo.technologies">{{
          technologie
        }}</span>
      </div>

      <div class="links">
        <span></span>
        <span>
          <a [href]="projectInfo.githubLink" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a [href]="projectInfo.demoLink" target="_blank">
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
