<div class="card-career" data-aos="fade-up" data-aos-duration="500">
  <span class="header-card">
    <span>
      <img [src]="data.logo" alt="logo" width="50" height="50" />
    </span>
    <span>
       <span class="dateAndSociete">
        <h4 class="societe">{{ data.societeKey | translate }}</h4>
         <h4 class="date">{{ data.dateKey | translate }}</h4>
       </span>
      <h3 class="title">{{ data.titleKey | translate }}</h3>
    </span>
  </span>
  <p class="desc">
    {{ data.descKey | translate }}
  </p>
</div>
