.card {
  width: 20em;
  position: relative;
  z-index: 3;
  border: none;
  height: 18em;
}

.bg {
  background-color: white;
  transition: all 0.1s ease;
  height: 18em;
}

.card-icon {
  font-size: 3em;
  text-align: center;
}

/* .card-icon i {
  width: fit-content;
  margin: 0.3em;
  color: white;
  background-color: black;
} */

.card-title {
  font-weight: bold;
  font-family: calibro;
  text-align: center;
}

.card-body {
  text-align: justify;
  display: -webkit-box; /* Creates a flexible box */
  -webkit-box-orient: vertical; /* Sets the box to align vertically */
  overflow: hidden; /* Hides any overflowing content */
  text-overflow: ellipsis; /* Adds ellipsis (...) at the end if text overflows */
  /* background-color: red; */
}
/* .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -.5em;
  bottom: -.5em;
  background-color: black;
  z-index: 0;
} */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  /* position: relative; */
  z-index: -1;
  left: -0.2em;
  bottom: -0.2em;
  transition: all 0.1s ease;
}

.card:hover .bg {
  transform: translate(0.2em, -0.2em);
}
.card:hover .backdrop {
  transform: translate(-0.2em, 0.2em);
}
