<div class="card">
  <div class="backdrop"></div>
  <div class="bg">
    <div class="card-icon">
      <i class="bi bi-diagram-3"></i>
    </div>
    <div class="card-title">
      <h3>DESIGNE</h3>
    </div>
    <div class="card-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit esse
      architecto perspiciatis aliquam, reiciendis animi tempora enim nobis eum
      nemo, repellat error quod ipsum et numquam ducimus adipisci, unde odio?
    </div>

  </div>
</div>
