<div class="menu-header">
  <ul>
    <li>
      <i class="bi bi-house-fill"></i>
      <span> Home </span>
    </li>
    <li>
      <!-- <i class="bi bi-gear-fill"></i> -->
      <i class="bi bi-tools"></i>
      <span> My skills </span>
    </li>
    <li>
      <i class="bi bi-clipboard2-pulse-fill"></i>
      <span> My projects </span>
    </li>
    <li>
      <i class="bi bi-graph-up-arrow"></i>
      <span> Career </span>
    </li>
    <li>
      <i class="bi bi-envelope-at-fill"></i>
      <span> Contact me </span>
    </li>
  </ul>
  <app-icons-link></app-icons-link>
</div>
