<section>
  <span data-tilt>

    <img
    alt="profile"
    src="../../../assets/images/profile_cv4.png"
    width="460"
    height="460"
    />
  </span>
  <div class="content">
    <div class="welcome-word">
      <h2>WELCOME.</h2>
    </div>
    <div class="my-name-word">
      <h3>I'am mezrioui hakim</h3>
    </div>
    <div class="para">
      <p>
        Le lorem ipsum est, en imprimerie, une suite de mots sans signification
        utilisée à titre provisoire pour calibrer une mise en page, le texte
        définitif venant remplacer le faux-texte dès qu'il est prêt ou que la
        mise en page est achevée. Généralement, on utilise un texte en faux
        latin, le Lorem ipsum ou Lipsum.
      </p>
    </div>
    <span class="explore">
      <!-- <div class="icons">
        <ul>
          <li>
            <a>
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-github"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-file-earmark-person-fill"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-envelope-fill"></i>
            </a>
          </li>
        </ul>
      </div> -->
      <script src="tilt.jquery.js"></script>
      <div class="icons">
        <app-icons-link class="icons-link"></app-icons-link>
      </div>

      <div class="projects-link">
        <a class="see-project-link">See my projects</a>
      </div>
    </span>
  </div>
</section>
