<section id="home">
  <img alt="profile" src="./assets/images/profile_cv4-min.png" #tiltElement />
  <div class="content">
    <div class="welcome-word">
      <h2>{{ heroSectionContent.welcom }}</h2>
    </div>
    <div class="my-name-word">
      <h3>{{ heroSectionContent.myName }}</h3>
    </div>
    <div class="para">
      <p>
        {{ heroSectionContent.profile }}
      </p>
    </div>
    <span class="explore">
      <!-- <div class="icons">
        <ul>
          <li>
            <a>
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-github"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-file-earmark-person-fill"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="bi bi-envelope-fill"></i>
            </a>
          </li>
        </ul>
      </div> -->
      <script src="tilt.jquery.js"></script>
      <div class="icons">
        <app-icons-link class="icons-link"></app-icons-link>
      </div>

      <div class="projects-link">
        <a href="#myProjects" class="see-project-link">See my projects</a>
      </div>
    </span>
  </div>
</section>

<app-decoration></app-decoration>
