<div id="contactMe" class="contact-body">
  <div class="contact-content container">
    <app-custom-title title="CONTACT ME"></app-custom-title>
    <form>
      <div class="form-group">
        <span data-aos="fade-right">
          <input placeholder="First Name" />
          <div class="backdrop"></div>
        </span>
        <span data-aos="fade-left">
          <input placeholder="Last Name" />
          <div class="backdrop"></div>
        </span>
      </div>
      <div class="form-group">
        <span data-aos="fade-bottom">
          <input placeholder="Email" />
          <div class="backdrop"></div>
        </span>
      </div>
      <div class="form-group">
        <span data-aos="zoom-in">
          <textarea placeholder="Message"></textarea>
          <div class="backdrop"></div>
        </span>
      </div>
      <div data-aos="zoom-out" class="form-action">
        <button>SEND MESSAGE</button>
      </div>
    </form>
  </div>
</div>
