<div class="contact-body">
  <div class="contact-content container">
    <app-custom-title title="CONTACT ME"></app-custom-title>
    <form>
      <div class="form-group">
        <span>
          <input placeholder="First Name" />
          <div class="backdrop"></div>
        </span>
        <span>
          <input placeholder="Last Name" />
          <div class="backdrop"></div>
        </span>
      </div>
      <div class="form-group">
        <span>
          <input placeholder="Email" />
          <div class="backdrop"></div>
        </span>
      </div>
      <div class="form-group">
        <span>
          <textarea placeholder="Message"></textarea>
          <div class="backdrop"></div>
        </span>
      </div>
      <div class="form-action">
        <button>SEND MESSAGE</button>
      </div>
    </form>
  </div>
</div>
