<div id="mySkills" class="skills-body">
  <div class="skills-content container">
    <app-custom-title title="MY SKILLS"></app-custom-title>
    <div class="skills container">
      <app-skill-item title="Languages" [skills]="languages"></app-skill-item>
      <app-skill-item title="Frameworks" [skills]="frameworks"></app-skill-item>
      <app-skill-item title="Databases" [skills]="databases"></app-skill-item>
      <app-skill-item title="Dsigne" [skills]="designeTools"></app-skill-item>
      <app-skill-item title="Montage" [skills]="montageTools"></app-skill-item>
      <app-skill-item
        title="Electronics"
        [skills]="electronicsSkills"
      ></app-skill-item>
      <app-skill-item title="Others" [skills]="othersSkills"></app-skill-item>
    </div>
    <span></span>
  </div>
</div>
