.bi {
  font-size: 1.2em;
}

ul li:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: transform .1s;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.bi-linkedin {
  color: #0e76a8;
}

.bi-file-earmark-person-fill {
  color: rgb(139, 0, 0);
}

.bi-envelope-fill {
  color: grey;
}
