<div class="icons">
  <div class="icons-inner">
    <div class="icons-group icons-group--with-line">
    <ul>
      <li>
        <a
          class="icon-link-has-tooltip"
          data-tooltip="LinkedIn"
          aria-label="Visit my LinkedIn profile"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/hakim-mezrioui"
        >
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a
          class="icon-link-has-tooltip"
          data-tooltip="GitHub"
          aria-label="Visit my GitHub profile"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Hakim2Mezrioui"
        >
          <i class="bi bi-github text-dark"></i>
        </a>
      </li>
      <li>
        <a
          class="icon-link-has-tooltip"
          data-tooltip="CV"
          aria-label="Download my CV"
          target="_blank"
          rel="noopener noreferrer"
          href="https://drive.google.com/file/d/10E3xwoFG5cTnxILrR-Is7Oh_SFjyYxz7/view?usp=sharing"
        >
          <i class="bi bi-file-earmark-person-fill"></i>
        </a>
      </li>
    </ul>
  </div>
  <a
    class="icon-link icon-link--email icon-link-has-tooltip"
    data-tooltip="Send email"
    aria-label="Send me an email"
    target="_blank"
    rel="noopener noreferrer"
    href="mailto:mezrioui.hakim@gmail.com"
  >
    <i class="bi bi-envelope-fill"></i>
  </a>
  </div>
</div>
