<div class="icons">
  <ul>
    <li>
      <a
        title="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/hakim-mezrioui"
      >
        <i class="bi bi-linkedin"></i>
      </a>
    </li>
    <li>
      <a
        title="GitHub"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/Hakim2Mezrioui"
      >
        <i class="bi bi-github text-dark"></i>
      </a>
    </li>
    <li>
      <a
        title="CV"
        target="_blank"
        rel="noopener noreferrer"
        href="https://drive.google.com/file/d/1vVG8lFexAIwb9eYCJbOZyJtal7YRdgea/view?usp=sharing"
      >
        <i class="bi bi-file-earmark-person-fill"></i>
      </a>
    </li>
    <li>
      <a
        title="Email"
        target="_blank"
        rel="noopener noreferrer"
        href="mailto:mezrioui.hakim@gmail.com"
      >
        <i class="bi bi-envelope-fill"></i>
      </a>
    </li>
  </ul>
</div>
